html {
    height: 2000px;
    margin: 0px;
    padding: 0px;
}

.Nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.Nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.Nav a:hover,
.offcanvas a:focus {
    color: #f1f1f1
}

.Nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .Nav {
        padding-top: 15px;
    }
    .Nav a {
        font-size: 18px;
    }
}